<!-- <ng-container *ngIf="users$ | async as users">
  xxxxxxxxxxx
  <button *ngFor="let user of users">{{ user.id }}: {{ user.name }}</button>
</ng-container> -->

<!-- <ng-container *ngIf="selectedUser$ | async as selectedUser">
  YYYYYYYYYYYY
  {{ selectedUser.id }}: {{ selectedUser.name }}
</ng-container> -->

<ng-container *ngIf="testUser$ | async as testUser">
  {{ testUser.id }}: {{ testUser.name }}
</ng-container>

<div *ngIf="testName$ | async as testName">
  {{ testName }}
</div>

<button (click)="onClick()">リネーム</button>
