<!-- users$を実行し、値を受け取ったらコンポーネントを描画 -->
<ng-container *ngIf="users$ | async as users">
  <!-- 取得した全てのユーザの情報をループ -->
  <div *ngFor="let user of users">
    <!-- クリックでユーザのidを渡す -->
    <button (click)="onUpdateSelectedState(user.id)">
      {{ user.id }}: {{ user.name }}
    </button>
  </div>
</ng-container>

<!-- ユーザを選択したら表示される -->
<div *ngIf="selectedUser$ | async as selectedUser; else UnSelected">
  <p>選択されたユーザー</p>
  <p>{{ selectedUser.id }}: {{ selectedUser.name }}</p>
  <button (click)="onFetchUserDetail(selectedUser.id)">
    ユーザの詳細情報を取得
  </button>
</div>
<!-- ユーザ未選択の場合に表示される -->
<ng-template #UnSelected> ユーザを選択してください </ng-template>

<!-- ユーザの詳細情報取得完了後に表示される -->
<div *ngIf="userDetail$ | async as userDetail">
  <p>詳細情報</p>
  <div>
    id:{{ userDetail.id }} <br />
    name:{{ userDetail.name }} <br />
    username:{{ userDetail.username }} <br />
    email:{{ userDetail.email }} <br />
    phone:{{ userDetail.phone }} <br />
    website:{{ userDetail.website }} <br />
  </div>
</div>
